services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    network_mode: host
    volumes:
      - ./caddy/data:/data
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/templates:/srv
    pull_policy: always

  xray:
    image: ghcr.io/xtls/xray-core:latest
    restart: always
    container_name: xray
    user: root
    command: run -c /etc/xray/config.json
    network_mode: host
    volumes:
      - ./xray:/etc/xray
    pull_policy: always

  unbound:
    container_name: unbound
    image: madnuttah/unbound:latest
    network_mode: host
    volumes:
      - ./unbound.conf:/usr/local/unbound/unbound.conf
    restart: always
    user: root
    environment:
     - DISABLE_SET_PERMS=true
    pull_policy: always
