{
  "log": {
    "loglevel": "none"
  },
  "inbounds": [
    {
      "tag": "VLESS TCP VISION REALITY",
      "listen": "0.0.0.0",
      "port": 443,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{ xray_uuid.stdout}}",
            "email": "default",
            "flow": "xtls-rprx-vision"
          }
        ],
        "decryption": "{{ x25519_mlkemk.stdout }}"
      },
      "streamSettings": {
        "network": "raw",
        "security": "reality",
        "realitySettings": {
          "xver": 2,
          "dest": "127.0.0.1:4123",
          "serverNames": [
            "{{ xray_domain }}"
          ],
          "privateKey": "{{ x25519_pik.stdout }}",
          "shortIds": [
            "{{ short_id.stdout }}"
          ]
        },
        "rawSettings": {
          "handshakeTimeout": 10,
          "maxUdpFrameSize": 1350,
          "initialSendWindow": 2097152,
          "initialReceiveWindow": 2097152,
          "maxInflight": 128,
          "ackInterval": 10
        }
      },
      "sockopt": {
        "tcpFastOpen": true,
        "tcpKeepAliveIdle": 15,
        "tcpKeepAliveInterval": 60,
        "tcpUserTimeout": 8000
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct",
      "sockopt": {
        "tcpFastOpen": true,
        "tcpKeepAliveIdle": 15,
        "tcpKeepAliveInterval": 60,
        "tcpUserTimeout": 8000
      },
      "rawSettings": {
        "handshakeTimeout": 5,
        "maxUdpFrameSize": 1350,
        "initialSendWindow": 2097152,
        "initialReceiveWindow": 2097152,
        "maxInflight": 128,
        "ackInterval": 2
      },
      "settings": {
        "domainStrategy": "AsIs"
      }
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ],
  "routing": {
    "rules": [
      {
        "protocol": "bittorrent",
        "outboundTag": "block"
      }
    ],
    "domainStrategy": "AsIs"
  },
  "dns": {
    "servers": [
      {
        "address": "localhost"
      }
    ],
    "queryStrategy": "UseIPv4",
    "disableFallback": false,
    "tag": "dns-aux"
  },
  "policy": {
    "system": {
      "statsInboundUplink": true,
      "statsInboundDownlink": true
    }
  }
}
