services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    network_mode: host
    volumes:
      - ./caddy/data:/data
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/templates:/srv
  xray:
    image: ghcr.io/xtls/xray-core:latest
    restart: always
    container_name: xray
    user: root
    command: run -c /etc/xray/config.json
    network_mode: host
    volumes:
      - ./xray:/etc/xray
  unbound:
    container_name: unbound
    image: "mvance/unbound:latest"
    network_mode: host
    volumes:
      - ./unbound.conf:/opt/unbound/etc/unbound/unbound.conf
    restart: always
